/* Import all of Bootstrap’s CSS */
@import "bootstrap/dist/css/bootstrap.css";




/* footer styling */
.social-media-links {
  list-style: none;
  padding: 0;
}

.social-media-links li {
  /* display: inline; */
  margin-right: 10px;
  margin-bottom: 10px;
}

.social-media-links a {
  text-decoration: none;
  /* color: #007bff; */
  color: black;
}

.social-media-links a:hover {
  text-decoration: underline;
}

.other-links {
  list-style: none;
  padding: 0;
}

.other-links li {
  margin-bottom: 10px;
}

.other-links a {
  text-decoration: none;
  color: black;
}

.other-links a:hover {
  text-decoration: underline;
}

.footdiv {
  padding: 50px 20px;
}


.image-container {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Optional: centers vertically if you set a height */
  height: 100%; /* Set a specific height if needed */
}

.overlay-text {
  position: absolute;
  top: 30px;
  left: 10px;
  color: green;
  padding: 5px 10px;
  font-size: 1.2em;
  text-align: center;
}